@model SacramentMeetingPlanner.Models.Meeting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meeting</h4>
    <hr />
    <div class="row">
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.MeetingDate)
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(model => model.MeetingDate)
        </div>
        <div class="col-sm-3">
            Timing: <span>@ViewData["Timing"].ToString()</span>
        </div>
    </div>
    <div class="row">
        <h1>@ViewData["Unit Name"] Scarament Meeting Agenda</h1>
    </div>
    <div class="row">
        <p><b>Welcome:</b> We welcome you to our sacrament service this morning</p>
        <ul>
            <li>@ViewData["Presiding"] presides over this meeting</li>
            <li>@Html.DisplayFor(model => model.Conducting) will be conducting this meeting</li>
        </ul>
    </div>
    <div class="row">
        <p><b>Announcements:</b> Before we begin, we want to draw your attention to the following calendar items:</p>
        <hr />
        <br />
        <br />
        <hr />
    </div>
    <div class="row">
        <p><b>Opening Hymn & Prayer:</b></p>
        <p>We will open our services by singing hymn number: @Html.DisplayNameFor(model => model.OpeningSong)</p>
        <p>@ViewData["Chorister"] will be our <b>chorister</b> and</p>
        <p>@ViewData["Pianist"] will be our pianist/organist. Following the singing,</p>
        <p>@Html.DisplayFor(model => model.Invocation) has been invited to give the <b>invocation</b>. </p>
        <hr />
    </div>
    <div class="row">
        
            <p><b>Sacrament:</b> We will now prepare for the sacrament by singing hymn number: @Html.DisplayFor(model => model.SacramentSong)</p>
            <br />
            <p>Following the singing, the sacrament will be blessed and passed.</p>
            <br />
            <p>We would like to thank you for your reverence as the sacrament was blessed and passed.</p>
            <br />
            <p>Following his remarks, we will hear from <i>Block 1 Speackers</i></p>
            <table class="table">
                <tr>
                    <th>Speaker</th>
                    <th>Subject</th>
                    <th>Block</th>
                    <th>Order</th>
                </tr>
                @foreach (var item in Model.Speakers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SpeakerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Block)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Order)
                        </td>
                    </tr>
                }
            </table>
            <p>Then we will have an Intermediate Hymn, hymn number: @Html.DisplayFor(model => model.IntermediateSong)</p>
            <br />
            <p>Then we will hear from: <i>Block 2 Speacker</i></p>
            <br />
            <p>after which we will conclude our meeting by singing hymn number: @Html.DisplayFor(model => model.ClosingSong)</p>
            <br />
            <p>Following the Singing,</p>
            <p>@Html.DisplayFor(model => model.Benediction)</p>
            <p>has been invited to give the <b>benediction</b></p>
        </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
