@model SacramentMeetingPlanner.Models.MeetingViewModels.MeetingIndexData;

@{
    ViewData["Title"] = "Sacrament Meetings";
}

<h1>Sacrament Meetings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table table-sm">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">Meeting&nbsp;Date</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]">Conducting</a>
            </th>
            <th>
                Invocation
            </th>
            <th>
                Opening Song
            </th>
            <th>
                Sacrament Song
            </th>
            <th>
                Intermediate Song
            </th>
            <th>
                Closing Song
            </th>
            <th>
                Benediction
            </th>
            <th>
                Speakers
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Meetings)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["MeetingID"])
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.MeetingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Conducting)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Invocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpeningSong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SacramentSong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IntermediateSong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClosingSong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Benediction)
                </td>
                <td>
                    @{
                        var numSpeakers = "none";
                        var count = item.Speakers.Count();
                        if (count == 1)
                        {
                            numSpeakers = "1 speaker";
                        }
                        else if (count > 1)
                        {
                            numSpeakers = count.ToString() + " speakers";
                        }
                    }
                    <a asp-controller="Speakers" asp-action="Index" asp-route-meetingId="@item.ID">@numSpeakers</a>
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Meetings.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Meetings.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.Meetings.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.Meetings.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>

@if (Model.Speakers != null)
{
    <h3>Speakers for the Selected Meeting</h3>
    <table class="table table-sm">
        <tr>
            <th>Name</th>
            <th>Subject</th>
            <th>Block</th>
            <th>Order</th>
        </tr>

        @foreach (var item in Model.Speakers)
        {
            <tr>
                <td>
                    @item.SpeakerName
                </td>
                <td>
                    @item.Subject
                </td>
                <td>
                    @item.Block
                </td>
                <td>
                    @item.Order
                </td>
            </tr>
        }

    </table>
}